.or-main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.or-left{
   width: 150px;
   height: 2px;
   background-color: rgb(246, 11, 132);
}

.or-right{
   width: 150px;
   height: 2px;
   background-color: rgb(246, 11, 132);
}
.textStyle{
   background-color: rgb(36, 42, 70);
   padding: 0px 5px 0px 5px;
   border: 100%;
   font-weight: bold;
}
.button-color{
   background-color: #3982E4;
}

.google_button
{
   /* width: 100%;
   padding: 0px;
   font-weight: bold;
   color: #000;
   background-color: #fff;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
   display: block;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   overflow: hidden; */
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding-bottom: 0px 0px 0px 0px;
   background-color: rgba(243, 235, 238, 0.916);

      
}
.google_button:hover {
   background-color: rgba(237, 171, 196, 0.916);

   box-shadow: 0px 15px 20px rgba(233, 70, 195, 0.585);
   color: white;
   transform: translateY(-7px);
   transition: 0.5s linear;
 }
 
 .google_log{
    width: 25px;
    height: 25px;
    /* margin-right: 20px; */
    /* margin-right: 20px; */

 }
 .google-text{
   /* font-size: 0.8rem; */
   padding: 0px;
   margin: 0px;

 }
