.totalProduct{
   margin-top: 1rem;
   text-align: center;
}

.table{
   margin: 0.5rem auto;
   margin-bottom: 4rem;
}
thead th{
   text-align: center;
}
.action{
   
}
.add-product-btn{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;

   
}
.add-product{
   cursor: pointer;
   animation: add-product 2s infinite;
   margin-right: 1rem;
}
@keyframes add-product {
   0%{
      transform: scale(1);
   }
   50%{
      transform: scale(0.9); 
   }
   100%{
      transform: scale(1); 
   }
}
