.totalProduct{
   margin-top: 1rem;
   text-align: center;
}

.table{
   margin: 0.5rem auto;
   margin-bottom: 4rem;
}
thead th{
   text-align: center;
}
.action{
   
}
.add-product-btn-container{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   /* background-color: red; */
   width: 98%;

}
.add-product-btn{
   cursor: pointer;
   animation: add-productAnimaton 2s infinite;
   margin-right: 1rem;
   padding: 0.3rem;
   font-size: 12px;
}
@keyframes add-productAnimaton {
   0%{
      transform: scale(1);
   }
   50%{
      transform: scale(1.1); 
   }
   100%{
      transform: scale(1); 
   }
}
