.btn-menu{
   text-decoration: none;
   padding: 5px;
   color: white;
   font-weight: bold;
   font-size: 12px;
}
.btn-menu:hover{
   background-color: rgb(230, 37, 140);
   padding: 5px;
   border-radius: 5px;
   color: white;


}

.btn-space{
   margin-right: 5px;
   padding: 2px;
}