.container-fluid{
   width: 90%;
  
}

.side-log img{
   width: 200px;
   height: 40px;
   margin-right: 100px;
}
.profilePhoto{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.right-side{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   margin-left: 30px;
}

.link{
   text-decoration: none;
   margin-left: 1rem;
   font-size: 20px;
   transition: color ease-in-out 300ms;
   color: ;
}